Source: pycacic
Section: admin
Priority: optional
Maintainer: Yves Junqueira <yves@cetico.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.1.0), python-dev
Standards-Version: 3.6.1

Package: python-sysinfo
Architecture: any
Depends: python (>= 2.3), python (<< 2.5), lshw, python-apt (>= 0.5.10)
Description: Multi-platform system information library
 Python-sysinfo provides an abstraction layer to system information for
 hardware, software and services in the local computer.
 .
 The GNU/Linux version uses lshw to collect hardware info and the other data
 come from config files, /proc and such.
 .
 See https://dev.ubuntubrasil.org/trac/pycacic
