Source: pycacic
Section: python 
Priority: optional
Maintainer: Yves Junqueira (nictuku) <yves@cetico.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.1.0), python2.4-dev, python2.3-dev
Standards-Version: 3.6.1

Package: python-sysinfo
Architecture: all
Depends: python2.3-sysinfo
Description: Multi-platform system information library
 Python-sysinfo provides an abstraction layer to system information for
 hardware, software and services in the local computer.
 .
 The GNU/Linux version uses lshw to collect hardware info and the other data
 come from config files, /proc and such.
 .
 See https://dev.ubuntubrasil.org/trac/pycacic
 .
 This dummy package just depends on the right, default version of Python
 and python-sysinfo.

Package: python2.4-sysinfo
Architecture: all
Depends: python2.4, lshw, python2.4-apt (>= 0.5.10) | python-apt (>= 0.5.10)
Description: Multi-platform system information library
 Python-sysinfo provides an abstraction layer to system information for
 hardware, software and services in the local computer.
 .
 The GNU/Linux version uses lshw to collect hardware info and the other data
 come from config files, /proc and such.
 .
 See https://dev.ubuntubrasil.org/trac/pycacic

Package: python2.3-sysinfo
Architecture: all
Depends: python2.3, lshw, python2.3-apt (>= 0.5.10) | python-apt (>= 0.5.10)
Description: Multi-platform system information library
 Python-sysinfo provides an abstraction layer to system information for
 hardware, software and services in the local computer.
 .
 The GNU/Linux version uses lshw to collect hardware info and the other data
 come from config files, /proc and such.
 .
 See https://dev.ubuntubrasil.org/trac/pycacic
