#!/usr/bin/make -f
#DEB_AUTO_UPDATE_DEBIAN_CONTROL := no 
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-indep:
	echo oi
	dh_installdocs -ppython-sysinfo
	dh_installdocs -ppython2.3-sysinfo -i doc/README.sysinfo  doc/sysinfo-example.py
	dh_installdocs -ppython2.4-sysinfo -i doc/README.sysinfo doc/sysinfo-example.py

