#!/usr/bin/make -f
#DEB_AUTO_UPDATE_DEBIAN_CONTROL := no 
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/python-sysinfo::
	mv debian/python-sysinfo/usr/lib/python*/site-packages/sysinfo/* debian/python-sysinfo/usr/lib/site-python/sysinfo
	rm -rf debian/python-sysinfo/usr/lib/python*
	rm -rf debian/python-sysinfo/usr/bin
