#!/usr/bin/make -f
DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/python-sysinfo::
	mkdir -p debian/python-sysinfo/usr/lib/site-python/sysinfo	
	for p in python2.4 python2.3; do \
	mv -v debian/python-sysinfo/usr/lib/$$p/site-packages/sysinfo debian/python-sysinfo/usr/lib/site-python/sysinfo;\
	rm debian/python-sysinfo/usr/lib/$$p -rf ; \
	rm debian/python-sysinfo/usr/bin -rf ; \
	done
